---
---
<!DOCTYPE html>
<html class=" js svg" lang="en-US" prefix="og: http://ogp.me/ns#"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta property="og:url" content="http://con.openedx.org" />
  <meta property="og:title" content="2015 Open edX Conference - October 12-13th - Wellesley, MA" />
  <meta property="og:image" content="http://con.openedx.org/assets/openedx-conf-700x700.png" />
  <meta property="og:description"
  content="Focused on technology + teaching, the Open edX conference is for
  developers, system administrators, education specialists, and anyone who
  works with or wants to learn more about the Open edX platform." />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>2015 Open edX Conference - October 12-13th - Wellesley, MA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="./assets/css" rel="stylesheet" type="text/css">

  <link rel="stylesheet" id="roots_css-css" href="./assets/main.min.css" type="text/css" media="all">
<script type="text/javascript" src="./assets/modernizr.min.js"></script><style type="text/css"></style>
<script type="text/javascript" src="./assets/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="./assets/jquery.min.js_1.11.1"><\/script>')</script>
	<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>

  <style>
        .bg1 {
        background-image: url("./assets/stickies3.jpg");
      }
      </style>
</head><body class="home blog logged-in hasGoogleVoiceExt">

  <!--[if lt IE 8]>
    <div class="alert alert-warning">
      You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.    </div>
  <![endif]-->

  <!-- Full Width Image Header -->
    <header class="header-image">
      <div class="bg1"></div>
      <div class="headline">
          <div class="container">
            <a href="http://www.eventbrite.com/e/open-edx-con-2015-tickets-17211056734?aff=confheader">
              <img class="logo" src="./assets/logo-openedx-conf-2015.svg" alt="Open edX Conference">
            </a>
            <h2></h2>
            <h4 class="header-subtitle">October 12-13th, 2015 | Wellesley, MA</h4>
          </div>
      </div>
    </header>

  <header data-spy="affix" data-offset-top="500" class="banner navbar navbar-default navbar-static-top affix-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <nav class="collapse navbar-collapse" role="navigation">
        <ul id="menu-primary-navigation" class="nav navbar-nav">
          <li class="current menu-sponsors"><a href="#our-sponsors">Sponsors</a></li>
          <li class="current menu-schedule"><a href="#focus-schedule">Speakers</a></li>
          <li class="current menu-register"><a href="#register-today">Register</a></li>
          <li class="current menu-hackathon"><a href="#hackathon">Hackathon</a></li>
          <li class="current menu-location"><a href="#location-venue">Location</a></li>
          <li class="current menu-more-info"><a href="#common-conference-questions">FAQ</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="wrap" role="document">
    <div class="content row">
      <main class="main" role="main">


  <div class="bg">
  <article id="a-conference-focused-on-technology-teaching" class="post-22 post type-post status-publish format-standard hentry category-home container">
          <header>
        <h2 class="entry-title">A Conference Focused on Technology + Teaching</h2>
              </header>
        <div class="entry-summary">
      <div class="row">
<div class=" col-md-6">
<p class="larger-font">October 12-13th in Wellesley, Massachusetts, the Open edX community will host a conference focused on the development and use of the Open edX platform, free and open source course management system (CMS) originally developed by <a href="http://edx.org/">edX</a> . The Open edX platform is used all over the world to host Massive Open Online Courses (MOOCs) as well as smaller classes and training modules. This conference is for <strong>developers, system administrators, education specialists</strong>, and <strong>anyone who works with or wants to learn more</strong> about the Open edX platform.</p>
<p><!--
&#091;button size="lg" link="https://www.eventbrite.com/e/open-edx-technical-conference-tickets-13011073471"&#093; REGISTER TODAY &amp; ATTEND &#091;/button&#093;
--></p>
</div>
<div class=" col-md-6 border-left">
<h4>About edX &amp; Open edX</h4>
<p>EdX is dedicated to educating people all over the world, online and on campus. Through cutting-edge technologies, innovative pedagogy, and rigorous courses, we offer anyone an opportunity to learn, thrive and grow. The Open edX open source platform powers edX and numerous other teaching and learning experiences around the globe.</p>
<p>&nbsp;</p>
<p><a href="http://open.edx.org/">Learn more about Open edX</a></p>
<p><a href="https://www.edx.org/about-us">Learn more about edX and its mission</a><br>
</p></div>
</div>
    </div>
  </article>
</div>
  <div class="bg">
  <article id="our-sponsors" class="post-7 post type-post status-publish format-standard hentry category-home container">
          <header>
        <h2 class="entry-title">Our Sponsors</h2>
              </header>
        <div class="entry-summary">
          <p>We have some great sponsors lined up, we'll be sharing them with everyone soon!</p>
    </div>
  </article>
</div>
  <div class="bg">
  <article id="focus-schedule" class="post-94 post type-post status-publish format-standard hentry category-home container">
    <header>
      <h2 class="entry-title">Speakers</h2>
    </header>
    <div class="entry-summary">
      <h3>Keynote speaker: Mitch Resnick</h3>
      <hr />
      <div class="row">
        <div class=" col-md-12">
          <p>We are thrilled to announce that Mitchel Resnick, educator, technologist, and developer of Scratch, will deliver a keynote address to Open edX Con 2015 on Monday, October 12th.</p>
          <p>Mitchel Resnick has been teaching and learning technology with children since the early 1990s. Along the way he has developed innovative tools, philosophies, and approaches to pedagogy. He focuses on the importance of learning over formal education structures, and creative approaches to learning.</p>
        </div>
      </div>
      <h3>Listing of talks</h3>
      <hr />
      {% for abs in site.data.abstracts_2015 %}
      {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
      {% if thecycle == 'odd' %}
      <div class="row">
      {% endif %}
        <div class=" col-md-6">
          <p><b>{{ abs.title }}</b></p>
          <p><em>{{ abs.name }}</em> </p>
          <p class="abstract">{{ abs.abstract }}</p>
        </div>
      {% if thecycle == 'even' or forloop.last == true %}
      </div>
      {% endif %}
      {% endfor %}
      <h3>Talks from last year</h3>
      <hr />
      <div class="row">
        <div class=" col-md-12">
          <p>To get a better sense of what to expect from the Open edX Conference, you can also check out <a href="https://openedx.atlassian.net/wiki/display/OPEN/Open+edX+Conference+Presentations">last year's presentations</a>.</p>
        </div>
      </div>
    </article>
  </div>

  <div class="bg">
  <article id="register-today" class="post-7 post type-post status-publish format-standard hentry category-home container">
          <header>
        <h2 class="entry-title">Register Today</h2>
              </header>
        <div class="entry-summary">
          <div style="width:100%; text-align:left;" ><iframe  src="http://eventbrite.com/tickets-external?eid=17211056734&ref=etckt" frameborder="0" height="385" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;" ><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div>
<p><small>Please note: Portions of this event will be recorded, broadcast live, and archived.</small></p>
    </div>
  </article>
</div>
  <div class="bg">
  <article id="hackathon" class="post-5 post type-post status-publish format-standard hentry category-home container">
<div class="entry-summary col-md-12">
  <h3>Hackathon</h3>
  <p>Join us October 14-15th for the 2nd Annual Open edX Con Hackathon.&nbsp;Community members and edX developers will work together on bringing ideas to life.</p>
  <p>The hackathon website and location announcement will be coming soon!</p>
</div>
  </article>
</div>
  <div class="bg">
  <article id="location-venue" class="post-5 post type-post status-publish format-standard hentry category-home container">
          <header>
        <h2 class="entry-title">Location</h2>
              </header>
        <div class="entry-summary">
      <div class="row">
<div class=" col-md-6">
  <iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2951.2948793015216!2d-71.305928!3d42.293572999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e386c3a15e73f5%3A0x5a36c95e0f9f4735!2sWellesley+College!5e0!3m2!1sen!2sus!4v1433876892994" width="400" height="300" frameborder="0"></iframe>
</div>
<div class=" col-md-6">
Wellesley College in Wellesley, MA will host Open edX Con 2015. Conference events will be held in the <a href="http://www.wellesley.edu/studentlife/campus/centers/wangcampuscenter">Lulu Chow Wang Campus Center</a> and <a href="http://web.wellesley.edu/Admission/virtual/alumnae.html">Alumnae Hall</a>.<p></p>
<p><strong>Wellesley College</strong><br>
106 Central St.<br>
Wellesley, MA 02481<br>
</p></div>
</div>
<h4><strong>Accommodations</strong></h4>
<p>We have organized<a href="https://open.edx.org/resources/open-edx-conference-2015-hotel-blocks"> two&nbsp;blocks of rooms at nearby hotels</a>, with a shuttle running between them and the campus. There are other options in the area, with hotels, bed and breakfasts, and AirBNB.<br>
</p><div class="row">
<div class=" col-md-4">
<h4><strong>Venue Accessibility</strong></h4>
<p>The entire conference is wheelchair accessible. Our staff will be able to help direct you around the site.<br>
</p></div>
<div class=" col-md-4">
<h4><strong>Transportation</strong></h4>
<p>Wellesley’s campus is approximately 40 minutes from Logan Airport by car. There is free parking on campus. There will be a shuttle running between&nbsp;the two conference <span class="il">hotels</span> and the Wellesley campus at the beginning and end of each conference day.&nbsp; We will also provide a shuttle from/to the Wellesley Hills MBTA station at the beginning and end of each conference day.&nbsp; Times for these shuttles will be posted in September.<br>
</p></div>
<div class=" col-md-4">
<h4><strong>Internet Access</strong></h4>
<p>Free Wi-Fi internet access will be provided to all attendees.<br>
</p></div>
</div>
    </div>
  </article>
</div>
  <div class="bg">
  <article id="common-conference-questions" class="post-59 post type-post status-publish format-standard hentry category-home container">
          <header>
        <h2 class="entry-title">Common Conference Questions</h2>
              </header>
        <div class="entry-summary">
      <div class="row">
<div class=" col-md-4">
<strong>Do I need to bring special equipment to the conference?</strong><p></p>
<p>We encourage conference attendees to bring laptops with them. Free Wi-Fi will be available at the conference site.</p>
<p>For users attending the post-conference hackathon (details coming soon!), please come prepared with a laptop running the <a href="http://edx-installing-configuring-and-running.readthedocs.org/en/latest/devstack/install_devstack.html">Open edX Devstack development environment.</a>&nbsp;If you need help, please get in touch with other users via the <a href="http://groups.google.com/forum/#!forum/edx-code">edx-code mailing list</a> or the <a href="https://webchat.freenode.net/?channels=#edx-code">#edx-code IRC channel</a> on Freenode.</p>
</div>
<div class=" col-md-4">
<strong>What are my options for participating in the conference if I can’t attend in person?</strong><p></p>
<p>We are hoping to live stream talks. Portions of the event will be archived and posted after the conference ends for future viewing. Archive information will be posted to this conference website, the edx-code mailing list, and the <a href="https://webchat.freenode.net/?channels=#edx-code">#edx-code IRC channel</a> on Freenode.<br>
</p></div>
<div class="">
<strong>How can I follow along with conference planning?</strong><p></p>
<p>After registering for the conference, we will send occasional updates once the hotel block is available and the schedule is up.</p>
<p>You can also keep up by following us on <a href="https://twitter.com/OpenedX">Twitter</a>, using the <a href="https://twitter.com/hashtag/openedx2015?src=hash">#openedx2015 hashtag</a>, or reading the <a href="http://open.edx.org/blog">Open edX blog</a><br>
</p></div>
</div>
<div class="row">
<div class=" col-md-4">
<p><strong>I have a dietary restriction. What can I expect?</strong></p>
<p>All meals will include gluten free, dairy free, and vegan options. If you have questions about these, please contact oscm@edx.org.</p>
</div>
<div class=" col-md-4">
<p><strong>Which type of ticket should I buy?</strong></p>
<p>Open edX Con has several types of tickets available to attendees, which can be <a href="https://www.eventbrite.com/e/open-edx-con-2015-tickets-17211056734">purchased on Eventbrite</a>.</p>
<ul>
<li>Student tickets ($150) – These are subsidized by Corporate attendees and sponsorships, geared towards students wishing to attend the conference. We also have a limited number of volunteer positions for students with exceptional need.</li>
<li>Early-bird tickets ($250) – There are 75 early-bird tickets. This rate will expire July 6th.</li>
<li>Regular tickets ($350) – Once the early-bird tickets are gone, general registration will open.</li>
<li>Corporate tickets ($450) – If you are attending on behalf of your company, please consider registering as a Corporate attendee. The fees from these tickets will help offset the cost of the conference for students.</li>
</ul>
</div>
<div class=" col-md-4">
<p><strong>Can I sponsor the conference?</strong></p>
<p>Yes! Please e-mail&nbsp;<a href="mailto: oscm@edx.org">oscm@edx.org</a> to request a sponsorship packet. We are open to services as well as financial sponsorships.</p>
</div>
<div class=" col-md-4">
<div class="jumbotron">
<strong>Have other questions?</strong><br>
Email us at&nbsp;<a href="mailto: oscm@edx.org">oscm@edx.org</a><br>
</div>
</div>
</div>
    </div>
  </article>
</div>

      </main><!-- /.main -->
          </div><!-- /.content -->
  </div><!-- /.wrap -->

  <footer class="content-info" role="contentinfo">
  <div class="container">
        <div class="row">
      <div class="col-sm-6">
        <p class="copyright">© All Rights Reserved, edX</p>
      </div>
      <div class="col-sm-6">
        <nav class="collapse navbar-collapse pull-right" role="navigation">
          <ul id="menu-footer" class="footer-nav"><li class="menu-about-edx"><a href="https://www.edx.org/about-us">About edX</a></li>
<li class="menu-about-open-edx"><a href="http://openedx.org/">About Open edX</a></li>
<li class="menu-contact-edx"><a href="mailto:oscm@edx.org">Contact edX</a></li>
</ul>        </nav>
      </div>
    </div>
  </div>
</footer>

<script type="text/javascript" src="./assets/scripts.min.js"></script>
<script type="text/javascript" src="./assets/bootstrap-shortcodes-tooltip.js"></script>
<script type="text/javascript" src="./assets/bootstrap-shortcodes-popover.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60396627-3', 'auto');
  ga('send', 'pageview');

</script>
</body></html>
